$black: #1c1c1c;
$white: #fff;
$white-theme-border: rgba(28, 28, 28, 0.1);
$white-theme-bg: #f4f4f4;
$white-theme-light-text: rgba(28, 28, 28, 0.6);
$dark-theme-border: rgba(255, 255, 255, 0.1);
$dark-theme-bg: #333333;
$dark-theme-light-text: rgba(255, 255, 255, 0.6);

$border-radius: 5px;
$sidebar-width: 78px;
$header-height: 78px;
