@import "./utils";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
  // border: 1px solid $primary;
  // cursor: none !important;
  font-family: "Inter", sans-serif;

  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $black;
  }
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-size: 14px !important;
  color: $black !important;
  scroll-behavior: smooth !important;
  background-color: $light-theme-bg;
  font-family: "Inter", sans-serif;
  @include for-extra-large {
    font-size: 14px !important;
  }
  // @include for-mobile {
  //   font-size: 12px;
  // }
  /* scrollbar ******************************* */

  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $black;
  }

  /* end scrollbar ******************************* */
  &.dark {
    .ant-modal {
      .ant-modal-header {
        background-color: darken($black, 5%) !important;
        .ant-modal-title {
          color: $white !important;
        }
      }
      .ant-modal-content {
        background-color: darken($black, 5%) !important;
      }
      .ant-modal-body {
        p {
          color: $white !important;
        }
      }
    }
  }
}

.modal-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $spacing;
}

form {
  .field {
    width: 100%;
    height: auto;
    text-align: left;
    label {
      display: block;
      font-size: 0.75em;
      margin-bottom: 0.15rem;
      color: $black;
      text-transform: lowercase;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    input,
    select {
      width: 100%;
      height: 30px;
      border: 1px solid $light-theme-border;
      border-radius: $border-radius;
      padding: 0 0.35rem;
      font-size: 0.8em;
      outline: none !important;
      background-color: $light-theme-bg;
      color: $black;
    }
    textarea {
      width: 100%;
      height: 300px;
      border: 1px solid $light-theme-border;
      border-radius: $border-radius;
      padding: 0.35rem;
      font-size: 0.8em;
      background-color: $light-theme-bg;
      color: $black;
      transition-duration: $transition-duration;
    }
    input,
    select {
      &:focus {
        border-color: $black;
        transition-duration: $transition-duration;
      }
    }
    .error {
      color: $red;
      font-size: 1em;
      margin-top: 0.3rem;
    }
    &.error {
      input,
      select,
      textarea {
        border-color: $red !important;
        // background-color: $light-red;
        &::placeholder {
          color: $red !important;
        }
      }
      .ant-select-selector {
        border: 1px solid $red;
        // background-color: $light-red !important;
      }
      .ant-select:hover .ant-select-selector {
        border-color: $red !important;
      }
    }
    > a {
      color: $light-theme-light-text;
      display: inline-block;
      margin-top: 0.5rem;
      cursor: pointer;
      font-size: 1em;
      &:hover {
        color: $black;
      }
    }
    &.dark {
      label {
        color: $white !important;
      }
      input,
      select {
        border: 1px solid $dark-theme-border !important;
        background-color: $dark-theme-bg !important;
        color: $white !important;
      }
      textarea {
        border: 1px solid $dark-theme-border;
        background-color: $dark-theme-bg;
        background-color: $dark-theme-bg !important;
        color: $white !important;
      }
      input,
      select {
        &:focus {
          border-color: $white;
        }
      }
      > a {
        color: $dark-theme-light-text;
      }
      // TODO: move items below out of the field selector
      input {
        &:checked + label .provider-select {
          border-color: $white !important;
          p {
            color: $white !important;
          }
        }
      }
      .checkbox {
        > input {
          + .box {
            border: 2px solid $white;
          }
          &:checked + .box {
            &::after {
              background-color: $white;
            }
          }
        }
      }
    }
  }
  input {
    &:checked + label .provider-select {
      // background-color: $transluscent-light-green !important;
      border-color: $black !important;
      p {
        color: $black !important;
      }
    }
  }
  .checkbox {
    width: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    > input {
      display: none;
      + .box {
        min-width: 20px;
        min-height: 20px;
        border: 2px solid $black;
        border-radius: $border-radius;
        position: relative;
        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
          transition-duration: $transition-duration;
        }
      }
      &:checked + .box {
        &::after {
          background-color: $black;
          transform: scale(0.8);
          transition-duration: $transition-duration;
        }
      }
    }
    label {
      width: fit-content;
      line-height: 2 !important;
      margin: 0;
    }
  }
  .ant-form-item .ant-form-item-explain {
    font-size: 0.85em !important;
  }
}

.field {
  label {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0.15rem;
    color: $black;
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  input,
  select {
    width: 100%;
    height: 30px;
    border: 1px solid $light-theme-border;
    border-radius: $border-radius;
    padding: 0 0.35rem;
    font-size: 0.8em;
    outline: none !important;
    background-color: $light-theme-bg;
    color: $black;
  }
  textarea {
    width: 100%;
    height: 70px;
    border: 1px solid $light-theme-border;
    border-radius: $border-radius;
    padding: 0.35rem;
    font-size: 0.8em;
    background-color: $light-theme-bg;
    color: $black;
    transition-duration: $transition-duration;
  }
  input,
  select {
    &:focus {
      border-color: $black;
      transition-duration: $transition-duration;
    }
  }
  &.dark {
    label {
      color: $white;
    }
    input,
    select {
      border: 1px solid $dark-theme-border;
      background-color: $dark-theme-bg;
      color: $white;
    }
    textarea {
      border: 1px solid $dark-theme-border;
      background-color: $dark-theme-bg;
      color: $white;
    }
    input,
    select {
      &:focus {
        border-color: $white;
      }
    }
  }
}
.ant-form-item {
  margin-bottom: 2px !important;
}
