@import "@/shared/styles/variables";
@import "@/shared/styles/utils";

.dashboard-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: $light-theme-bg;
  transition-duration: $transition-duration;
  &.dark {
    background-color: $black;
    transition-duration: $transition-duration;
    .ant-modal {
      .ant-modal-header {
        background-color: darken($black, 5%) !important;
        .ant-modal-title {
          color: $white !important;
        }
      }
      .ant-modal-content {
        background-color: darken($black, 5%) !important;
      }
      .ant-modal-body {
        p {
          color: $white !important;
        }
      }
    }
  }
  .sidebar {
    width: $sidebar-width;
    height: inherit;
    background-color: $white;
    border-right: 2px solid $light-theme-border;
    transition-duration: $transition-duration;
    &.dark {
      border-right: 2px solid $dark-theme-border;
      transition-duration: $transition-duration;
      background-color: $black;
    }
  }
  .main-content {
    flex-grow: 1;
    height: 100%;
    .editor-wrapper {
      width: 100%;
      height: 100%;
      max-height: calc(100vh - $header-height);
      display: flex;
      @include for-extra-large {
        max-height: calc(100vh - $header-height-large);
      }
      .editor-menu {
        min-width: $editor-menu-width;
        max-width: $editor-menu-width;
        height: 100%;
        max-height: calc(100vh - $header-height);
        background-color: $white;
        overflow-y: auto;
        transition-duration: $transition-duration;
        overflow-x: hidden;
        @include for-extra-large {
          max-height: calc(100vh - $header-height-large);
        }
        &::-webkit-scrollbar {
          width: 0.2rem;
        }

        &::-webkit-scrollbar-track {
          background-color: $white;
          -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
        }
        &.left {
          border-right: 1px solid $light-theme-border;
        }
        &.right {
          border-left: 1px solid $light-theme-border;
        }
      }
      .editor {
        flex-grow: 1;
        height: 100%;
        background-color: $light-theme-bg;
        transition-duration: $transition-duration;
      }
    }
    &.dark {
      .editor-wrapper {
        .editor-menu {
          background-color: $black;
          transition-duration: $transition-duration;
          &.left {
            border-right: 1px solid $dark-theme-border;
          }
          &.right {
            border-left: 1px solid $dark-theme-border;
          }
        }
        .editor {
          background-color: $dark-theme-bg;
          transition-duration: $transition-duration;
        }
      }
    }
  }
}
