@import "@/shared/styles/variables";

.custom-button {
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  font-size: 14px;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: $light-theme-bg;
  span {
    text-transform: capitalize;
  }
  .icon {
    display: block;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  &:hover {
    transition-duration: 0.3s;
  }
  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }

  /* ------------------------------ sidebar-button theme ----------------------------- */
  &.sidebar-button {
    background-color: $white;
    width: $sidebar-button-size;
    height: $sidebar-button-size;
    &:hover:not(:disabled) {
      background-color: $light-theme-bg;
    }
    span {
      color: $black;
    }
    .icon {
      color: $black;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    &.dark {
      background-color: $black;
      &:hover:not(:disabled) {
        background-color: $dark-theme-bg;
      }
      span {
        color: $black;
      }
      .icon {
        color: $black;
        svg {
          path {
            stroke: $white;
          }
        }
      }
    }
  }
}
