@import "@/shared/styles/variables";

.dashboard-sidebar {
  padding: $spacing 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  height: inherit;
  nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > div {
      display: flex;
      flex-direction: column;
      gap: calc($spacing / 2);
    }
  }
}
